@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #0a0a0a;
    --background: #ededed;
  }
}

body {
  @apply bg-gray-900; /* Dark background */
  font-family: Arial, Helvetica, sans-serif;
}

/* Container that keeps the map centered and prevents overflow */
.world-map svg {
  width: 100%;
  height: auto;
}

.world-map path:hover,
.world-map g:hover path {
  fill: #9810fa !important; /* purple highlight */
  cursor: pointer;
  transition: fill 0.2s ease;
}

.pin-head {
  width: 12px;
  height: 12px;
  background: #9810fa;
  border-radius: 50%;
}

.pin-body {
  width: 3px;
  height: 15px;
  background: #9810fa;
  margin: 0 auto;
}
