@import "tailwindcss";

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root{
  --sand: #F6F1E6;
  --ink: #172525;
  --sea: #2C7C82;
  --coral: #FF6B5A;
  --paper: rgba(255,255,255,.72);

  --font-display: ui-serif, Georgia, serif;
  --font-sans: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}

html, body { 
  height: 100%;
  overflow-x: hidden;
}


body {
  font-family: var(--font-sans);
  color: var(--ink);
  background: var(--sand);
}

.font-display { font-family: var(--font-display); }
.font-sans { font-family: var(--font-sans); }


/* Container that keeps the map centered and prevents overflow */
.world-map svg {
  width: 100%;
  height: auto;
  display: block;
}

.world-map path {
  pointer-events: all;
}

.world-map path:hover,
.world-map g:hover path {
  fill: #9810fa !important; /* purple highlight */
  cursor: pointer;
  transition: fill 0.2s ease;
}

.pin-head {
  width: 12px;
  height: 12px;
  background: #9810fa;
  border-radius: 50%;
}

.pin-body {
  width: 3px;
  height: 15px;
  background: #9810fa;
  margin: 0 auto;
}
